/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    margin:0 auto
}




.flex{
    display: flex;
}



#page-section{
    margin-top: 20px;
}

#page-section .left-text{
width:  50%;
}



#page-section .left-text h1{
    margin-right: 30px;
    }
    





#page-section .right-text{
    width:  50%;
    }

     #page-section .right-text p{
        width: 60%;
        }  


       img{
        width: 50%;
        display: block;
        align-items: center;
        float: left;
        /* margin-left: 10px; */
        
       

       